* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
html, body{
    width: 1920px;
    height: 100%;
}
th{
    width: 180px;
}
a{
    all: unset;
}