<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기</title>
</head>
<link th:href="@{/css/Diary.css}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
<body>
<div class="diaryContainer">
    <div class="diaryImg">

    </div>
    <div class="diaryMyAnimals">

    </div>
    <div class="registration">
        <form action="" class="diaryRegistration">
            <button class="diaryFormBtn"><h1>사진 등록</h1></button>
            <button class="diaryFormBtn"><h1>나의 동물들 등록</h1></button>
            <button class="diaryFormBtn"><h1>글쓰기</h1></button>
        </form>
    </div>
    <div class="diaryContent">

    </div>
    <div class="diaryContentPage">

    </div>
    <div class="mainHome">
        <h2 class="diaryH1"><a class="diaryHomeA" th:href="@{/}">홈화면으로</a></h2>
    </div>
</div>
</body>
</html>