<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>홈화면</title>
</head>
<link th:href="@{/css/managerMain.css}" rel="stylesheet">
<body>
<div class="mainContainer">
  <div class="mainUserFormClass">
    <div class="mainUserForm">
      <h1 th:text="${session.userName}"></h1>
      <h1>님</h1>
      <h3>환영합니다.</h3>
      <button><a href="/logout" class="logout">로그아웃</a></button>
    </div>
  </div>
  <div class="mainTab">
    <form action="" method="get" class="mainTabForm">
      <h2 class="mainTabH2"><button class="mainTabHome mainTabBtn" type="submit">홈</button></h2>
      <h2 class="mainTabH2"><button class="mainTabBreeding mainTabBtn" type="submit">사육정보</button></h2>
      <h2 class="mainTabH2"><button class="mainTabAdoptAndSell mainTabBtn" type="submit">입양 및 분양</button></h2>
      <h2 class="mainTabH2"><button class="mainTabProduct mainTabBtn" type="submit">용품</button></h2>
      <h2 class="mainTabH2"><button class="mainTabUserType mainTabBtn" type="submit">회원 정보</button></h2>
      <h2 class="mainTabH2"><a th:href="@{/Diary}" class="mainTabDiary mainTabBtn">일기</a></h2>
    </form>
  </div>
  <div class="mainAdvertising">
    <h1>광고</h1>
  </div>
  <div class="mainSupTab">
    <form action="" method="get" class="mainSupTabForm">
      <h2 class="mainSupTabH2"><button class="mainSupTabCommunity mainTabBtn">일반 커뮤니티</button></h2>
      <h2 class="mainSupTabH2"><button class="mainSupTabUpdate mainTabBtn">업데이트 정보</button></h2>
    </form>
  </div>
</div>
</body>

</html>