<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일반 커뮤니티 글작성페이지</title>
</head>
<link th:href="@{/css/nomalCommunityCreate.css}" rel="stylesheet">
<body>
    <a th:href="@{homeSupTabCommunity}" class="back">뒤로가기</a>
    <div class="createCommunity">
        <form action="/mainTabHome" method="post">
            <div class="write"><h5>작성자: </h5><h5 th:text="${session.userName}"></h5></div>
            <input type="text" class="title" name="title" placeholder="제목을 입력하세요."><br>
            <textarea class="content" name="content" placeholder="내용을 입력하세요."></textarea><br>
            <button type="submit">글작성</button>
        </form>
    </div>
</body>
</html>